:root {
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  
}

.list {
  height: 100vh;
  color: #fff;
  overflow: hidden;
  scroll-behavior: smooth;
}

.uname {
  font-family: 'Smiley Sans', sans-serif;
  font-size: 22px;
}

.content {
  font-size: 22px;
}