:root {
  /* background-color: #242424; */
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  
}

.list {
  height: 100vh;
  color: #fff;
  overflow: hidden;
  scroll-behavior: smooth;
}

.uname {
  font-family: 'Smiley Sans', sans-serif;
  font-size: 22px;
}

.content {
  font-size: 22px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
